@media only screen and (max-width: 1130px) {
    .courses_cards {
        justify-content: center !important;
        .card {
            margin: 10px;
        }
    }
}

@media only screen and (max-width: 820px) {
    .burger_icon {
        display: block !important;
    }

    .nav {
        display: none;
    }
}

@media only screen and (min-width: 820px) {
    .dropdown {
        display: none !important;
    }
}

@media only screen and (max-width: 1045px) {
    .slider_images {
        flex-direction: column;

        img {
            margin-bottom: 50px !important;
        }
    }
}
